---
http_interactions:
- request:
    method: get
    uri: https://api.heygen.com/v2/avatars
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Client:
      - Gingga/1.0
      X-Api-Key:
      - "<HEYGEN_API_KEY>"
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":null,"error":{"code":"internal_error","message":"Unauthorized"}}

        '
  recorded_at: Thu, 04 Sep 2025 10:09:52 GMT
[...]
- request:
    method: get
    uri: https://api.heygen.com/v2/avatars
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Client:
      - Gingga/1.0
      X-Api-Key:
      - "<HEYGEN_API_KEY>"
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":null,"error":{"code":"internal_error","message":"Unauthorized"}}

        '
  recorded_at: Thu, 04 Sep 2025 10:20:47 GMT
recorded_with: VCR 6.3.1
